#root {
  width: 100%;
  height: 100%;
}

.site-wrap {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-container {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
